<!DOCTYPE html>
<html>

<head>
	{{#if user}}
	<title>redb17 Forum | {{user.username}}</title>
	{{else}}
	<title>redb17 Forum</title>
	{{/if}}
	<!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="icon" href="/favicon2.ico" />
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<div class="container">
      <div class="header clearfix">
				<div class="row">
				<div class="col-sm-12 col-sm-offset-1">
        <nav id="navBar">
          <ul class="nav nav-pills">
						<li  class="navButtons" role="presentation"><a class="navLinks" href="/">Home</a></li>
						<li  class="navButtons" role="presentation"><a class="navLinks" href="/questions">Questions</a></li>
						<li  class="navButtons" role="presentation"><a class="navLinks" href="/ask">Ask</a></li>
						<li  class="navButtons" role="presentation"><a class="navLinks" href="/search">Search</a></li>
						{{#if user}}
						<li  class="navButtons" role="presentation"><a class="navLinks" href="/notifications/{{user.username}}">Notifications</a></li>
						<li  class="navButtons" role="presentation"><a class="navLinks" href="/accounts/{{user.username}}">My Account</a></li>
						{{/if}}
							<li  class="navButtons" role="presentation"><a class="navLinks" href="/admin">Admin</a></li>
						{{#if user}}
              <li class="navButtons" role="presentation"><a class="navLinks" href="/users/logout">Logout</a></li>
            {{else}}
              <li class="navButtons" role="presentation"><a class="navLinks" href="/users/login">Login</a></li>
              <li class="navButtons" role="presentation"><a class="navLinks" href="/users/register">Register</a></li>
            {{/if}}
          </ul>
        </nav>
			</div>
		</div>
      </div>


      <div class="row">
        <div class="col-lg-12 ">
					{{{body}}}
					<br>
					<div>
	          {{#if success_msg}}
	            <div class="alert alert-success">{{success_msg}}</div>
	          {{/if}}

	          {{#if error_msg}}
	            <div class="alert alert-danger">{{error_msg}}</div>
	          {{/if}}

	          {{#if error}}
	            <div class="alert alert-danger">{{error}}</div>
	          {{/if}}
				</div>


        </div>
      </div>
      <div id='footer2'>
      <h5 style="text-align: center !important;">redb17mail@gmail.com &nbsp | &nbsp <a href="https://github.com/redb17" target="_blank">GitHub Profile</a></h5>
    </div>
    </div> <!-- /container -->
</body>
</html>
