<h2 style="text-align : center; font-weight : bold; text-decoration : underline;" class="page-header">Account of : <a href="/accounts/{{info.username}}">{{info.username}}</a> </h2>
<div style="background-color: lightyellow; width: auto; border: 2px solid black; padding: 5px; margin: 5px;" class="homeStuff">
  <br>
  <h4 style="text-align : center; font-weight : bold;">Karma Point Score : {{info.points}}</h4>
  <h4 style="text-align : center; font-weight : bold;">Answers Accepted : {{info.ansAccepted}}</h4>
  <h4 style="text-align : center; font-weight : bold;">Questions Asked : {{info.quesAsked}}</h4>
  <h4 style="text-align : center; font-weight : bold;">Questions Answered : {{info.quesAnswered}}</h4>
  <h4 style="text-align : center; font-weight : bold;">Comments Posted : {{info.commMade}}</h4>
  <br>
</div>
